<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="test1" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="1234" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
  </component>
</project>